@model MEABillboardWeb.Areas.Admin.Models.AdminUser
    ViewBag.Title = "Form";
}

<div class="page">
    <section class="user-account text-center">
        @*<ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">@Resources.Breadcrumb.Home</a></li>
            <li class="active">@Resources.Breadcrumb.WebInfo</li>
        </ol>*@
    </section>
    <div class="container space-top space-bottom">

        <div class="row">
            <div class="col-md-12">
                <div class="panel static panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">เพิ่มผู้ใช้งาน</h4>
                    </div>
                </div>

                <section class="double-space-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 double-space-bottom col-md-offset-1">
                                <h3 class="heading">เพิ่มผู้ใช้งาน<span></span></h3>
                                <div class="space-top">
                                    @*<form action="@Url.Action("Form", "WebInfo", new { id = UrlParameter.Optional })" method="post">
                                        <div class="form-group" style="display:none;">
                                            <label class="" for="WebMeta">Meta</label>
                                            @Html.TextAreaFor(x => x.WebMeta, new { @class = "form-control", required = "true", placeHolder = "Meta" })
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebTitle">ชื่อเว็บไซต์</label>
                                            <input type="text" class="form-control input-lg" id="WebTitle" name="WebTitle" placeholder="Title" value="@Model.WebTitle" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebGA">Google Analytics</label>
                                            @Html.TextAreaFor(x => x.WebGA, new { @class = "form-control", required = "true", placeHolder = "Google Analytics" })
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebFaceBook">Facebook Url</label>
                                            <input type="text" class="form-control input-lg" id="WebFaceBook" name="WebFaceBook" placeholder="Facebook" value="@Model.WebFaceBook" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">ที่อยู่</label>
                                            <input type="text" class="form-control input-lg" id="WebAddress" name="WebAddress" placeholder="Address" value="@Model.WebAddress" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">Address</label>
                                            <input type="text" class="form-control input-lg" id="WebAddress_Eng" name="WebAddress_Eng" placeholder="English Address" value="@Model.WebAddress_Eng" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">Phone No.</label>
                                            <input type="text" class="form-control input-lg" id="PhoneNo" name="PhoneNo" placeholder="Phone No." value="@Model.PhoneNo" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">Fax No.</label>
                                            <input type="text" class="form-control input-lg" id="FaxNo" name="FaxNo" placeholder="Fax No." value="@Model.FaxNo" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">Email</label>
                                            <input type="text" class="form-control input-lg" id="Email" name="Email" placeholder="Email" value="@Model.Email" />
                                        </div>
                                        <div class="form-group">
                                            <h3 class="heading">Meta<span></span></h3>
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">Meta Keyword (แต่ละคำคั่นด้วย comma " , ")</label>
                                            <input type="text" class="form-control input-lg" id="Meta_Keyword" name="Meta_Keyword" placeholder="Meta Keyword" value="@Model.Meta_Keyword" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">Meta Description (แต่ละคำคั่นด้วย comma " , ")</label>
                                            <input type="text" class="form-control input-lg" id="Meta_Descr" name="Meta_Descr" placeholder="Meta Description" value="@Model.Meta_Descr" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">Meta Author (แต่ละคำคั่นด้วย comma " , ")</label>
                                            <input type="text" class="form-control input-lg" id="Meta_Author" name="Meta_Author" placeholder="Meta Author" value="@Model.Meta_Author" />
                                        </div>
                                        <input type="hidden" id="WebId" name="WebId" value=1 />
                                        <button type="submit" class="btn btn-md btn-primary">บันทึก</button>
                                        <button type="reset" class="btn btn-md btn-default">ล้างค่า</button>
                                    </form>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
