@*@model MEABillboardWeb.Areas.Admin.Models.AdminUserItem*@

@model MEABillboardWeb.Models.AuthUser
@{
    ViewBag.Title = "Form";
}

<div class="page">
    <section class="user-account text-center">
        @*<ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">@Resources.Breadcrumb.Home</a></li>
                <li class="active">@Resources.Breadcrumb.WebInfo</li>
            </ol>*@
    </section>
    <div class="container space-top space-bottom">

        <div class="row">
            <div class="col-md-12">
                <div class="panel static panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">เพิ่มผู้ใช้งาน</h4>
                    </div>
                </div>

                <section class="double-space-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 double-space-bottom col-md-offset-1">
                                <h3 class="heading">เพิ่มผู้ใช้งาน<span></span></h3>
                                <div class="space-top">
                                    <form id="mainForm" action="@Url.Action("Form", "AdminUser", new { id = UrlParameter.Optional })" method="post">
                                        <div class="form-group">
                                            <label class="" for="FirstName">ชื่อ*</label>
                                            <input type="text" class="form-control input-lg" id="FirstName" name="FirstName" placeholder="ชื่อ" value="@Model.FirstName" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="LastName">นามสกุล*</label>
                                            <input type="text" class="form-control input-lg" id="LastName" name="LastName" placeholder="นามสกุล" value="@Model.LastName" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="Position">ตำแหน่ง*</label>
                                            <input type="text" class="form-control input-lg" id="Position" name="Position" placeholder="ตำแหน่ง" value="@Model.Position" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="Branch">หน่วยงาน*</label>
                                            <div class="select-style">
                                                @*@Html.DropDownList("StartDate_Date", ARWeb.Classes.LookupUtil.GetLutDay())*@
                                                @*@Html.DropDownList("Department")*@
                                            </div>
                                            <input type="text" class="form-control input-lg" id="Branch" name="Branch" placeholder="หน่วยงาน" value="@Model.Branch" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="Email">อีเมล์*</label>
                                            <input type="text" class="form-control input-lg" id="Email" name="Email" placeholder="อีเมล์" value="@Model.Email" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="Mobile">เบอร์โทรศัพท์*</label>
                                            <input type="text" class="form-control input-lg" id="Mobile" name="Mobile" placeholder="เบอร์โทรศัพท์" value="@Model.Mobile" />
                                        </div>

                                        <div class="form-group">
                                            <label class="" for="Username">บัญชีผู้ใช้งาน*</label>
                                            <input type="text" class="form-control input-lg" id="Username" name="Username" placeholder="บัญชีผู้ใช้งาน" value="@Model.Username" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="Password">รหัสผ่าน*</label>
                                            <input type="text" class="form-control input-lg form-password" id="Password" name="Password" placeholder="รหัสผ่าน" value="@Model.Password" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="ConfirmPassword">ยืนยันรหัสผ่าน*</label>
                                            <input type="text" class="form-control input-lg form-password" id="ConfirmPassword" name="ConfirmPassword" placeholder="ยืนยันรหัสผ่าน" />
                                        </div>
                                        <div class="form-group">
                                            <label>@Html.CheckBox("Active") อนุญาตใช้งาน </label>
                                        </div>

                                        @*<input type="hidden" id="WebId" name="WebId" value=1 />*@
                                        <button type="submit" class="btn btn-md btn-primary">บันทึก</button>
                                        @*<button type="reset" class="btn btn-md btn-default">ล้างค่า</button>*@
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#mainForm").validate({
                rules: {

                    FirstName: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    Position: {
                        required: true
                    },
                    Email: {
                        required: true
                    },
                    Mobile: {
                        required: true
                    },
                    Username: {
                        required: true
                    },
                    Password: {
                        required: true//,
                        //minlength: 5
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: ".form-password"//,
                        // minlength: 5
                    },
                    Email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    Password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long"
                    },
                    ConfirmPassword: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long",
                        equalTo: "Please enter the same password as above"
                    },
                    Email: "Please enter a valid email address"
                },
                //submitHandler: function() {
                //    alert("submitted!");
                //},
                debug: false
            });
        });
    </script>
}