@model MEABillboardWeb.Areas.Admin.Models.AdminUserItem
@{
    ViewBag.Title = "Form";
}

<div class="page">
    <section class="user-account text-center">
        @*<ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">@Resources.Breadcrumb.Home</a></li>
                <li class="active">@Resources.Breadcrumb.WebInfo</li>
            </ol>*@
    </section>
    <div class="container space-top space-bottom">

        <div class="row">
            <div class="col-md-12">
                <div class="panel static panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">เพิ่มผู้ใช้งาน</h4>
                    </div>
                </div>

                <section class="double-space-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 double-space-bottom col-md-offset-1">
                                <h3 class="heading">เพิ่มผู้ใช้งาน<span></span></h3>
                                <div class="space-top">
                                    <form action="@Url.Action("Form", "AdminUser", new { id = UrlParameter.Optional })" method="post">
                                        <div class="form-group" style="display:none;">
                                            <label class="" for="WebMeta">ชื่อ*</label>
                                            <input type="text" class="form-control input-lg" id="FirstName" name="FirstName" placeholder="ชื่อ" value="@Model.FirstName" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebTitle">นามสกุล*</label>
                                            <input type="text" class="form-control input-lg" id="LastName" name="LastName" placeholder="นามสกุล" value="@Model.LastName" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebGA">ตำแหน่ง*</label>
                                            <input type="text" class="form-control input-lg" id="Position" name="Position" placeholder="ตำแหน่ง" value="@Model.Position" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebFaceBook">หน่วยงาน*</label>
                                            <div class="select-style">
                                                @*@Html.DropDownList("StartDate_Date", ARWeb.Classes.LookupUtil.GetLutDay())*@
                                                @*@Html.DropDownList("Department")*@
                                            </div>
                                            <input type="text" class="form-control input-lg" id="Department" name="Department" placeholder="หน่วยงาน" value="@Model.Department" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">อีเมล์*</label>
                                            <input type="text" class="form-control input-lg" id="Email" name="Email" placeholder="อีเมล์" value="@Model.Email" />
                                        </div>


                                        <div class="form-group">
                                            <label class="" for="WebAddress">บัญชีผู้ใช้งาน*</label>
                                            <input type="text" class="form-control input-lg" id="UserAccount" name="UserAccount" placeholder="บัญชีผู้ใช้งาน" value="@Model.UserAccount" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">รหัสผ่าน*</label>
                                            <input type="text" class="form-control input-lg" id="Password" name="Password" placeholder="รหัสผ่าน" value="@Model.Password" />
                                        </div>
                                        <div class="form-group">
                                            <label class="" for="WebAddress">ยืนยันรหัสผ่าน*</label>
                                            <input type="text" class="form-control input-lg" id="ConfirmPassword" name="ConfirmPassword" placeholder="ยืนยันรหัสผ่าน" value="@Model.ConfirmPassword" />
                                        </div>
                                        <div class="form-group">
                                            <label>@Html.CheckBox("Permission") อนุญาตใช้งาน </label>
                                        </div>

                                        @*<input type="hidden" id="WebId" name="WebId" value=1 />*@
                                        <button type="submit" class="btn btn-md btn-primary">บันทึก</button>
                                        @*<button type="reset" class="btn btn-md btn-default">ล้างค่า</button>*@
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
