@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/line-icons/line-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css")">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/custom.css")">
}

<div class="col-md-9">

</div>

@section Scripts{
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/back-to-top.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/smoothScroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js")"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/custom.js")"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/forms/reg.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/forms/checkout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/plugins/datepicker.js")"></script>
}