@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/line-icons/line-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css")">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/custom.css")">
}

<div class="panel panel-profile">
    <div class="panel-body ">
        <div class="headline"><h2>ค้นหา</h2></div>
        <form action="@Url.Action("Index")" id="sky-form4" class="sky-form" novalidate="novalidate" method="post">
            <fieldset>
                <section>
                    <label class="input">
                        <input type="text" name="ContractName" placeholder="สัญญาเลขที่">
                        <b class="tooltip tooltip-bottom-right">สัญญาเลขที่</b>
                    </label>
                </section>
                <section>
                    <label class="label">ประเภท</label>
                    <div class="row">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>ประเภทตั้งเสา Tower</label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>ประเภทผนังอาคาร</label>
                        </div>
                    </div>
                </section>
                <section>
                    <label class="label">ป้าย</label>
                    <div class="row">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>ป้าย Digital Billboard </label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>ป้าย Billboard/Vinyl </label>
                        </div>
                    </div>
                </section>
                <section>
                    <label class="label">สถานะ</label>
                    <div class="row">
                        <div class="col col-3">
                            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>อยู่ระหว่างสัญญา</label>
                        </div>
                        <div class="col col-3">
                            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>ใกล้สิ้นสุดสัญญา</label>
                        </div>
                        <div class="col col-3">
                            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>หมดสัญญา</label>
                        </div>
                        <div class="col col-3">
                            <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>ยกเลิกสัญญา</label>
                        </div>
                    </div>
                </section>

                <a href="#" class="btn-u">ค้นหา</a>
            </fieldset>
        </form>
        <div class="margin-bottom-60"></div>

        <div class="headline"><h2>รายการป้าย</h2></div>
        <div class="table-search-v1 panel panel-dark">

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ชื่อ </th>
                            <th>เลขที่สัญญา </th>
                            <th>ประเภทป้าย </th>
                            <th>ชื่อพื้นที่ </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #1</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td> การไฟฟ้านครหลวงเขตวัดเลียบ</td>
                        </tr>
                        <tr>

                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #2</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td> การไฟฟ้านครหลวงเขตวัดเลียบ</td>
                        </tr>
                        <tr>

                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #3</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td> การไฟฟ้านครหลวงเขตวัดเลียบ</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #4</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td>การไฟฟ้านครหลวงเขตลาดพร้าว</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #5</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td>การไฟฟ้านครหลวงเขตลาดพร้าว</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #6</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #7</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #8</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #9</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info")">ป้าย HP Enterprise Service #10</a>
                            </td>
                            <td>2015025001</td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!--Pagination-->
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
        <!--End Pagination--> 
    </div>
</div>

@section Scripts{
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/back-to-top.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/smoothScroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js")"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/custom.js")"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/forms/reg.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/forms/checkout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/plugins/datepicker.js")"></script>
}