@model MEABillboardWeb.Models.AuthUserGroup

@{
    //ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/line-icons/line-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css")">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/custom.css")">

}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">กลุ่มผู้ใช้งาน</h1>

    </div>
</div>
<!--/breadcrumbs-->



<div class="container content profile">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Form")" class="btn-u"><span class="glyphicon glyphicon-plus"></span>&nbsp;เพิ่มกลุ่มผู้ใช้งาน</a>
            <div class="margin-bottom-30"></div>        
           
            <div class="table-search-v1 panel panel-dark">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                             
                                <th>ลำดับ</th>
                                <th>ชื่อกลุ่มผู้ใช้งาน</th>
                                <th>ชื่อกลุ่มฟังก์ชั่น</th>
                                <th>จำนวนผู้ใช้งาน</th>
                                <th>Long</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Pagination-->
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>

        </div>
    </div>

</div>


@section scripts{
  

    <script type="text/javascript">
        $(function () {


        });
    </script>
}



