@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/line-icons/line-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css")">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/custom.css")">
}
<div class="panel panel-profile">
    <div class="panel-body ">
        <div class="headline"><h2>รายละเอียดสัญญา</h2></div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="text-nowrap text-right">สัญญาเลขที่ :</td>
                    <td>111111</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">วันที่ทำสัญญา :</td>
                    <td>21 ม.ค. 2557 - 28 ก.พ. 2557</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ชื่อผู้เช่า :</td>
                    <td>นายสงวน ปัตตานี </td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ที่อยู่สำนักงานใหญ่ :</td>
                    <td>Rompo Business Center เลขที่ 115 ห้อง B1/2 ถ.ริมทางรถไฟสายปากน้ำ คลองเตย คลองเตย กรุงเทพ 10110</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ชื่อผู้มีอำนาจลงนาม :</td>
                    <td>นายศุภกร อมรศิลป</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ลงวันที่ :</td>
                    <td>30 ธ.ค. 2557</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ชื่อผู้รับมอบอำนาจ :</td>
                    <td>นายศุภกร อมรศิลป</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ลงวันที่รับมอบอำนาจ :</td>
                    <td>25 ธ.ค. 2557</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ประเภทพื้นที่เช่า :</td>
                    <td>ผนังอาคารด้านนอก</td>
                <tr>
                    <td class="text-nowrap text-right">วันที่เริ่มเช่า :</td>
                    <td>1 ม.ค. 2558</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">วันที่สิ้นสุดการเช่า :</td>
                    <td>1 ม.ค. 2561</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ค่าเช่าต่อเดือน (บาท/เดือน) :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ค่าเช่าทั้งหมดในระยะเวลา 3 ปี :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ค่าเช่าล่วงหน้า 1 เดือน :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">จำนวนหลักประกันเงินสด (บาท) :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">รายละเอียดแผนผังสถานที่หรือพื้นที่เช่า :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">รายละเอียดเงื่อนไขเพิ่มเติม :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">หนังสือส่งมอบพื้นที่เพื่อติดตั้งป้ายโฆษณา :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">เอกสารสัญญา :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">เอกสารอื่นๆ :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">ยกเลิก :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">วันที่ยกเลิก :</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td class="text-nowrap text-right">หมายเหตุ :</td>
                    <td>-</td>
                </tr>


            </tbody>
        </table>

        <div class="margin-bottom-60"></div>


        <div class="headline"><h2>รายการป้าย</h2></div>
        <div class="table-search-v1 panel panel-dark">

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ชื่อ </th>
                            <th>ประเภทป้าย </th>
                            <th>ชื่อพื้นที่ </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #1</a>
                            </td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td> การไฟฟ้านครหลวงเขตวัดเลียบ</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #2</a>
                            </td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td> การไฟฟ้านครหลวงเขตวัดเลียบ</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #3</a>
                            </td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td> การไฟฟ้านครหลวงเขตวัดเลียบ</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #4</a>
                            </td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td>การไฟฟ้านครหลวงเขตลาดพร้าว</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #5</a>
                            </td>
                            <td>
                                ป้าย Digital Billboard
                            </td>
                            <td>การไฟฟ้านครหลวงเขตลาดพร้าว</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #6</a>
                            </td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #7</a>
                            </td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #8</a>
                            </td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #9</a>
                            </td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Info","Board")">ป้าย HP Enterprise Service #10</a>
                            </td>
                            <td>
                                ป้าย Billboard/Vinyl
                            </td>
                            <td>การไฟฟ้านครหลวงเขตมีนบุรี</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!--Pagination-->
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
        <!--End Pagination-->

        <hr />
        <a class="btn-u" href="@Url.Action("Index")"><span class="icon icon-back"></span> ย้อนกลับ</a>
    </div>
</div>

@section Scripts{
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/back-to-top.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/smoothScroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js")"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/custom.js")"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/forms/reg.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/forms/checkout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/plugins/datepicker.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            //App.initScrollBar();
            RegForm.initRegForm();
            Datepicker.initDatepicker();
            CheckoutForm.initCheckoutForm();
        });
    </script>
}
