@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/line-icons/line-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css")">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/profile.css")">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/custom.css")">
}


 <!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">สื่อ</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index")">สื่อ</a></li>
            <li class="active">รายละเอียด</li>
        </ul>
    </div>
</div>
<!--/breadcrumbs-->

<!--=== Profile ===-->
<div class="container content profile">
    <div class="row">
        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="headline"><h2>รายละเอียดสื่อ</h2></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="text-nowrap">ชื่อ</td>
                        <td>โฆษณา HP Enterprise Service #1</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">ประเภท </td>
                        <td>Media</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">เจ้าของสื่อ(ผู้เช่า)</td>
                        <td>นายกนก สมองดี</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">สถานะ </td>
                        <td><span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;ผ่าน&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">สัญญาเลขที่ </td>
                        <td>
                            201544113 <br />
                            201544123
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="margin-bottom-60"></div>


            <div class="headline"><h2>ไฟล์ภาพ</h2></div>
            <div class="row margin-bottom-50">
                <div class="col-md-6 shadow-wrapper md-margin-bottom-40">
                    <div class="box-shadow shadow-effect-2">
                        <a href="@Url.Content("~/assets/img/main/img1.jpg")" target="_blank">
                            <img class="img-responsive" src="@Url.Content("~/assets/img/main/img1.jpg")" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="headline"><h2>ไฟล์วิดีโอ</h2></div>
            <div class="row margin-bottom-60">
                <!-- Vimeo Video -->
                <div class="col-md-6">
                    <div class="responsive-video md-margin-bottom-40">
                        <iframe width="100%" src="//www.youtube.com/embed/4dmt7tQG1-w" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- End Vimeo Video -->
            </div>

            <hr />
            <a class="btn-u" @*href="@Url.Action("Media")"*@ onclick="history.back();"><span class="icon icon-back"></span> ย้อนกลับ</a>
        </div>
        <!-- End Profile Content -->
    </div><!--/end row-->
</div>
<!--=== End Profile ===-->
@section Scripts{
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/back-to-top.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/smoothScroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js")"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/custom.js")"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="@Url.Content("~/assets/js/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/forms/reg.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/forms/checkout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/plugins/datepicker.js")"></script>
}