@{
    //Layout = null;
}

@section Styles {
    <style type="text/css">
        .parallax-counter-v4 {
            z-index: 1;
            height: auto;
            padding: 30px 0;
            overflow: hidden;
            text-align: center;
            position: relative;
            background-image: url('@Url.Content("~/Images/Background/bg_01.jpg")');
        }

        .parallax-counter-v4 .counter, .parallax-counter-v4 h4 {
            background-color: rgba(230, 126, 34, 0.8);
            padding-left: 10px;
            padding-right: 10px;
        }

        .parallax-counter-v4 h4 {
            font-size: 24px;
        }
    </style>
}

<!--=== Parallax Counter v4 ===-->
<div class="parallax-counter-v4 parallaxBg">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-3 col-xs-6 md-margin-bottom-50">
                <i class="fa fa-building-o"></i>
                <span class="counter">265</span>
                <h4>จำนวนป้าย</h4>
            </div>
            <div class="col-md-3 col-xs-6 md-margin-bottom-50">
                <i class="fa fa-file-o"></i>
                <span class="counter">400</span>
                <h4>จำนวนสัญญา</h4>
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="fa fa-user"></i>
                <span class="counter">100</span>
                <h4>จำนวนลูกค้า</h4>
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="fa fa-clock-o"></i>
                <span class="counter">50</span>
                <h4>สัญญาที่กำลังจะหมดอายุ</h4>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
<!--=== End Parallax Counter v4 ===-->

<div class="container content-sm">
    <div class="row margin-bottom-20">
        <div class="col-md-6 col-sm-6">
            <div class="headline"><h2>จำนวนป้าย</h2></div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-bar-chart"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="headline"><h2>จำนวนสื่อแยกตามประเภท</h2></div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/jquery.parallax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/counter/waypoints.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/counter/jquery.counterup.min.js")"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="@Url.Content("~/assets/js_custom/flot/excanvas.js")"></script><![endif]-->
    <script src="~/assets/js_custom/flot/jquery.flot.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initCounter();
            App.initParallaxBg();

            var barOptions = {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.8
                            }, {
                                opacity: 0.8
                            }]
                        }
                    }
                },
                xaxis: {
                    tickDecimals: 0
                },
                colors: ["#1ab394"],
                grid: {
                    color: "#999999",
                    hoverable: true,
                    clickable: true,
                    tickColor: "#D4D4D4",
                    borderWidth: 0
                },
                legend: {
                    show: false
                },
                tooltip: true,
                tooltipOpts: {
                    content: "x: %x, y: %y"
                }
            };
            var barData = {
                label: "bar",
                data: [
                    [1, 34],
                    [2, 25],
                    [3, 19],
                    [4, 34],
                    [5, 32],
                    [6, 44]
                ]
            };
            $.plot($("#flot-bar-chart"), [barData], barOptions);
        });
    </script>
}
